//fonts
$font-family-primary:  Helvetica, Arial, sans-serif;
$font-family-secondary: Helvetica, Arial, sans-serif;


//colours
$color-primary: #666;
$color-secondary: #9c0101;
$color-terciary: #999999;

$color-text: #000;


// general config 

$borderColour : #000;
$bodyColour :  #FFF;
$loadingScreenColour : #666;


//animation global values  

$timingFadeIn  : .5s; 
$timingFadeOut : .5s; 
$timingStagger : .2s; 

