/* polite css */
@import "../../globalvars";
@import "../../fonts";


//font sizes
$display-text-big: 30px;
$display-text-medium: 24px;
$display-text-small: 12px;

//elements positioning
$logo-posx: 100px;
$logo-posy: 65px;

$cta-posx: 300px;
$cta-posy: 65px;

/* ==========================================================================
   TEXT / COPY
   ========================================================================== */


.display-text-big {

	font-size: $display-text-big;

}

.display-text-medium {

	font-size: $display-text-medium;

}

.display-text-small{

	font-size: $display-text-small;

}

/* ==========================================================================
   DEFAULT ELEMENTS
   ========================================================================== */

.main-logo {

	position:absolute;
	left:$logo-posx;
	top:$logo-posy;
}

.cta-btn {

	position:absolute;
	top:$cta-posy;
	left:$cta-posx;

	&.is-visible {
		display:none;
	}
}


/* ==========================================================================
   CUSTOM ELEMENTS
   ========================================================================== */